
###> symfony/framework-bundle ###
/.env.local
/.env
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> nos ignores ###
/public/cgv/*
.env
/migrations/*.php
/public/img/*
!/public/img/accueil.jpg
!/public/img/blood.png
!/public/img/Logo Asso.jpg
###< nos ignores ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
