{% extends 'base.html.twig' %}

{% block title %}Bonjour {% endblock %}

{% block body %}
    <div class="container-fluid m-0 p-0">
        <div class="bg-header mb-4 p-0">
            <div class="row overlay-header h-100 w-100 p-0 m-0">
                <h1 class="my-auto text-center">Arcan Les Démons D'Ivoire</h1>
            </div>
        </div>
        {% if requestedRefund and is_granted('ROLE_ADMIN') %}
            <div class="text-center">
                <a class="btn btn-warning" href="{{ path('order_refund_requested') }}">Demandes de
                    remboursement</a>
            </div>
        {% endif %}
        <div class="row">

            {# Affichage Présentation #}
            {% include 'presentation/show.html.twig' %}
        </div>
        {# AFFICHAGE DE TOUS LES JEUX #}
        {% include 'game/showAll.html.twig' %}

        {# Affichage News #}
        {% include 'news/showAll.html.twig' %}
    </div>
{% endblock %}
