@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: #ede0d5;

}
.header{

    height:50vh;
}

.bg-header{

    background-image: url("../img/accueil.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
}
.bg-header h1{
    font-family: 'Fira Sans', sans-serif;
}
.overlay-header{
    background-color: rgba(0, 0, 0, 0.58);
}
.bg-cardgame{
    background-color: #111519;
    border-color: #D2C8BE;
}
.bg-cardgame .card-header{
    background-color: #D2C8BE ;
    color: black;
}

.card-zoom{
    transition: all 200ms;
}
.border-black{
    border: black 3px solid;
}
.card-zoom:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.text-ivoire{
    color: #C0B796;
}
.border-ivoire{
    border-color: rgba(255, 236, 156, 0.84)!important;
}

.bg-ivoire{
    background-color: #C0B796 !important;
}
.ckeditor img{

    max-width: 30vw;
    height: auto!important;
    margin: 0 30px;

}
.first-layer{
    z-index: 9999;
}
.bg-perso{
    background-color: rgb(29, 33, 37);
}
.bg-titre{
    background-color: #000000;
}
/*GALLERY VIDEO*/
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    margin-top: 50px;
    overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
    padding-bottom: 75%;
}
/*paralaxe*/

#hero {
    display: none;
    height: 800px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
/*POUR LE BREAKPOINT MD*/
@media screen and (min-width: 768px){
    .for-mobile{
        display: none;
    }
    #hero{
        display: block;
        height: 50vh;
    }
}

/*POUR LE BREAKPOINT LG*/
@media screen and (min-width: 992px){

    #hero{
        height: 800px;
        width: 100%;
    }
}
#content {
    /*background-color: #ffffff;*/
}
.layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: fixed;
    z-index: -1;
}

#hero-mobile {
    display: none;
    background: url("../img/accueil.jpg") no-repeat center bottom / cover;
    height: 320px;
}

.first-section {
    padding: 50px 0 20px 0;
}
.text-header {
    font-size: 50px;
    text-align: center;
}
h1 {
    line-height: 120%;
    margin-bottom: 30px;
}
p {
    color: #ede0d5;
    font-size: 18px;
    line-height: 150%;
}

#hero, .layer {
    min-height: 50vh;
}
#logoparalaxe {
    max-height: 800px;
}
.text-muted{
    color: #878F97!important;
    font-weight: bold;
}

.layer-bg {
    background-image: url('../img/accueil3.jpg');
    background-size: cover;
    background-position: center;
    /*image-rendering: smooth;*/
}
.layer-1 {
    width: 100vw;
    height: 100vh;
}
.title {

}
.blood {
    background-image: url('../img/blood2.png');
    background-size: cover;
    background-position: bottom;
    opacity: 0.5;
}
.hidden{
    overflow: hidden;
}
.layer-4 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png');
}
.layer-overlay {
    /*background-image: url('../img/overlay.png');*/
    background-color: rgba(0, 0, 0, 0.15);
}
.for-mobile .container{
    border-radius: 0;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .layer-1 {
        background-position: 26% bottom;
    }
    .layer-3 {
        background-position: 35% bottom;
    }
}
