@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.bg-header{
    background-image: url("../img/accueil.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
}
.bg-header h1{
    font-family: 'Fira Sans', sans-serif;
}
.overlay-header{
    background-color: rgba(0, 0, 0, 0.58);
}
.bg-cardgame{
    background-color: rgba(255, 255, 255, 0.19);
}

.bg-header-card{
    background-color: rgba(0, 0, 0, 0.39);
}
.card{
    transition: all 200ms;
}
.card:hover{
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.63) 3px 3px 10px;
}
