@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.header{

    height:50vh;
}
.bg-header{

    background-image: url("../img/accueil.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
}
.bg-header h1{
    font-family: 'Fira Sans', sans-serif;
}
.overlay-header{
    background-color: rgba(0, 0, 0, 0.58);
}
.bg-cardgame{
    background-color: rgba(255, 255, 255, 0.19);
}

.bg-header-card{
    background-color: rgba(0, 0, 0, 0.39);
}
.card-zoom{
    transition: all 200ms;
}
.card-zoom:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.text-ivoire{
    color: rgba(255, 236, 156, 0.84);
}
.border-ivoire{
    border-color: rgba(255, 236, 156, 0.84)!important;
}

.bg-ivoire{
    background-color: rgba(255, 236, 156, 0.44) !important;
}
.ckeditor img{

    max-width: 75vw;
    height: auto!important;
    margin: 0 30px;

}
.presentation{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*paralaxe*/





#hero {
    height: 800px;
    overflow: hidden;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}
#content {
    /*background-color: #ffffff;*/
}
.layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: fixed;
    z-index: -1;
}

#hero-mobile {
    display: none;
    background: url("../img/accueil.jpg") no-repeat center bottom / cover;
    height: 320px;
}

.first-section {
    padding: 50px 0 20px 0;
}
.text-header {
    font-size: 50px;
    text-align: center;
}
h1 {
    line-height: 120%;
    margin-bottom: 30px;
}
p {
    color: #ede0d5;
    font-size: 18px;
    line-height: 150%;
}

#hero, .layer {
    min-height: 50vh;
}

.layer-bg {
    background-image: url('../img/accueil.jpg');
    background-size: cover;
    background-position: center;
}
.layer-1 {
    width: 100vw;
    height: 100vh;
}
.title {

}
.blood {
    background-image: url('../img/blood.png');
    background-position: bottom;
    opacity: 0.5;
}
.hidden{
    overflow: hidden;
}
.layer-4 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png');
}
.layer-overlay {
    /*background-image: url('../img/overlay.png');*/
    background-color: rgba(0, 0, 0, 0.58);
}


@media only screen and (max-width: 768px) {
    .layer-1 {
        background-position: 26% bottom;
    }
    .layer-3 {
        background-position: 35% bottom;
    }
}
