{% extends 'base.html.twig' %}

{% block title %}Modifier la présentation{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="text-center my-5">

                    <a class="btn-outline-light btn" href="{{ path('home') }}">Retour à l'accueil</a>
                </div>

                <h1 class="text-center">Modifier la présentation de l'asso</h1>

                {{ include('presentation/_form.html.twig', {'button_label': 'Modifier', 'button_color': 'btn-outline-warning'}) }}

            </div>
        </div>
    </div>





{% endblock %}
