{% extends 'base.html.twig' %}

{% block title %}Modifier la Presentation{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier la Presentation</h1>
    <div class="text-center">

        <a class="btn-outline-light btn" href="{{ path('home') }}">Retour à l'accueil</a>
    </div>
    {{ include('presentation/_form.html.twig', {'button_label': 'Modifier', 'button_color': 'btn-outline-warning'}) }}


{% endblock %}
