{% block body %}
    <div class="container-fluid mt-3">
        <div class="row">
            <h1 class="text-center">Qui somme nous</h1>

        </div>
        {% if presentation %}

            <div class="col-12 col-md-10 mx-auto ckeditor presentation">
                {{ presentation.content|purify|raw }}
            </div>

        {% else %}
            <div class="col-12 col-md-10 mx-auto ckeditor presentation">
                <p class="alert-warning alert">Pas encore de présentation <a href="{{ path('presentation_new') }}">
                        cliquez ici pour en créer une
                    </a></p>
            </div>

        {% endif %}
    </div>

{% endblock %}
