{% extends 'base.html.twig' %}

{% block title %}Modifier {{ game.name }}{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier {{ game.name }}</h1>

    {{ include('game/_form.html.twig', {'button_label': 'modifier', 'button_color': 'btn-outline-warning'}) }}


{% endblock %}
