{% extends 'base.html.twig' %}

{% block title %}Tous nos jeux{% endblock %}

{% block body %}

    <div class="container-fluid p-0">

        <div class="row mt-5 p-0 m-0">

            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-12 text-center mb-3">

                    <a class="btn btn-outline-info" href="{{ path('game_new') }}">Créer un nouveau jeu</a>
                </div>
            {% endif %}
        </div>
        <div class="container-fluid p-0 m-0">

            <div class="row m-0 p-0">
                <h2 class="text-center fs-1 m-0 col-12 py-3 px-0">Nos jeux</h2>

            </div>

        </div>
        {% include 'game/showAll.html.twig' %}

    </div>


{% endblock %}
