{% extends 'base.html.twig' %}

{% block title %}Tous nos jeux{% endblock %}

{% block body %}
    <div class="row">
        {% if is_granted('ROLE_ADMIN') %}

        <a href="{{ path('game_new') }}">Create new</a>
        {% endif %}
    </div>
{% include 'game/showAll.html.twig' %}

{% endblock %}
