{% extends 'base.html.twig' %}

{% block title %}Tous nos jeux{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-12">

                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary" href="{{ path('game_new') }}">Créer un nouveau jeu</a>
                {% endif %}
                {% include 'game/showAll.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
