{% extends 'base.html.twig' %}

{% block title %}Modifier Ticket{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier ticket</h1>

    {{ include('ticket/_form.html.twig', {'button_label': 'Modifier',
        'button_color': 'btn-outline-warning'}
    ) }}


{% endblock %}
