{% extends 'base.html.twig' %}

{% block title %}Créer une Actualité{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Créer une Actualité</h1>
            <div class="col-8 offset-2">
                {{ include('news/_form.html.twig') }}
                <a href="{{ path('news_index') }}">Retour à la liste des Actualités</a>
            </div>
        </div>
    </div>


{% endblock %}
