<h1>Bonjour,</h1>

<p>Vous recevez ce message automatique suite au traitement de votre demande de remboursement. <br>
    Cette dernière vient d'être acceptée et l'ordre de virement vient d'être émis. Vous recevrez prochainement sur le compte associé à l'achat du ticket initial la somme concernée.
    <br>
    Pour toute demande supplémentaire, veuillez prendre contact avec votre organisateur référent, ou nous envoyer un mail à
    <br>
    contact@arcanlesdemonsdivoire.fr</p>

<p>A bientôt,</p>
