
    <h1>Merci pour l'achat d'un ticket {{ ticketName }} pour le jeu {{ gameName }}</h1>

            <p>Voici votre numéro de validation a nous présenter lors de votre venu pour l'évènement : <br>
                {{ ticketId~gameId~playerId }}</p>

