<h1>Bonjour,</h1>

<p>Félicitations, vous venez d'acquérir un billet pour l'un de nos événements... et on est bien contents de vous compter
    parmi nous !
    <br>
    Bienvenu dans l'aventure, vous allez voir, on va bien s'amuser ! <br>
    Voici votre numéro de ticket à nous présenter lors de votre venue pour l'évènement : <br>
    {{ ticketId~gameId~playerId }}.</p>

<p>On a hâte <br>
    Grosse bise de l'équipe d'Arcan - Les Démons d'Ivoire.</p>
