<h1>Bonjour,</h1>

<p>Vous recevez ce message automatique suite au traitement de votre demande de remboursement. <br>
    Cette dernière a été rejetée car elle ne respecte pas à ce jour les conditions générales de vente, que vous avez
    validées au moment de votre inscription à l'événement.
    <br>
    Pour toute demande supplémentaire, veuillez prendre contact avec votre organisateur référent, ou nous envoyer un
    mail à
    <br>
    contact@arcanlesdemonsdivoire.fr</p>

<p>A bientôt,</p>
