<form method="post" action="{{ path('refund', {'id': order.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir rembourser ce ticket ?');">
    <label class="form-label" for="reason">Motif du remboursement (facultative)</label>
    <textarea class="form-text d-block w-100 mb-3" name="reason" id="reason" rows="5"></textarea>
    <input type="hidden" name="_token" value="{{ csrf_token('refund' ~ order.id) }}">
    <button class="btn btn-outline-danger">Rembourser le ticket</button>
</form>
