<form method="post" action="{{ path('reject_refund', {'id': order.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir rejeté cette commande?');">
    <label class="form-label" for="reason">Raison du rejet (facultative)</label>
    <textarea class="form-text d-block w-100 mb-3" name="reason" id="reason" rows="5"></textarea>
    <input type="hidden" name="_token" value="{{ csrf_token('rejectRefund' ~ order.id) }}">
    <button class="btn btn-outline-danger">Rejeter la demande</button>
</form>
