{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}
    <h1>Edit Order</h1>

    {{ include('order/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn-primary" href="{{ path('game_index') }}">Retour a la liste des jeu</a>

    {{ include('order/_delete_form.html.twig') }}
{% endblock %}
