{% extends 'base.html.twig' %}

{% block title %}
Merci de votre achat
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto my-5">
                <h1>Merci de votre achat</h1>
                <p>Votre achat à bien été effectué un mail de confirmation vous à été envoyé, pensez à verifier vos courriers indésirables</p>
                <a class="btn btn-outline-light" href="{{ path('home') }}">Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}


