{% extends 'base.html.twig' %}

{% block title %}Modifier cotisation{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <h1>Modifier la cotisation</h1>

                 {{ include('membership/_form.html.twig', {'button_label': 'modifier', 'button_color': 'btn-outline-warning'}) }}




            </div>
        </div>
    </div>


{% endblock %}
