{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Erreur 404 : Page introuvable{% endblock %}

{# Contenu de la page #}
{% block body %}

    <div class="container-fluid">

        <div class="row">

            <h1 class="text-center fs-1 fw-bold pt-5">ERREUR 404 : Page introuvable !</h1>

            <div class="col-12 text-center">
                <p class="h1">Les Maitres du Jeu n'avaient pas prévus cette fin...</p>
            </div>

        </div>

    </div>

{% endblock %}
