{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Erreur 403 : Accès interdit{% endblock %}

{# Contenu de la page #}
{% block body %}

    <div class="container-fluid">

        <div class="row">

            <h1 class="text-center fs-1 fw-bold pt-5">ERREUR 403 : Accès interdit !</h1>

            <div class="col-12 text-center">
                 <p class="h1"> Dommage vous avez fait un jet de hacking de {{ random(1, 9) }}, il fallait faire 10 pour passer !</p>
            </div>

        </div>

    </div>

{% endblock %}
