{% extends 'base.html.twig' %}

{% block title %}Modifier la discussion{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <h1 class="text-center">Modifier la discussion</h1>
                {{ include('article/_form.html.twig', {'button_label': 'Modifier','button_color': 'btn-outline-warning'}) }}
            </div>
        </div>
    </div>
{% endblock %}
