{% extends 'base.html.twig' %}

{% block title %}discussion{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center">Liste de toutes les discussions</h1>
            <div class="text-center">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary" href="{{ path('article_new') }}">Créer une nouvelle discussion</a>
                {% endif %}
            </div>
        {% if articles %}
            <div class="row">
                {% for article in articles %}
                    {% if article %}
                        <div class="card bg-cardgame col-12 col-md-5 mx-auto p-0 my-3">
                            <div class="card-header bg-header-card">
                                <h5> discussion : {{ article.title }}</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush ">
                                        <li class="list-group-item bg-transparent text-light">Role
                                            : {{ article.roleGroupe.name }}</li>
                                    <li class="list-group-item bg-transparent text-light"><a class="btn btn-primary"
                                                                                             href="{{ path('article_show', {'id': article.id}) }}">afficher
                                            la discution</a></li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        {% endif %}
    </div>


{% endblock %}
