{% extends 'base.html.twig' %}

{% block title %}Modifier le role{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center">Modifier le role</h1>
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">

    {{ include('role_groupe/_form.html.twig', {'button_label': 'Modifier'}) }}

            </div>
        </div>
    </div>
{% endblock %}
