{% extends 'base.html.twig' %}

{% block title %}RoleGroupe index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Role de groupe</h1>
        <a class="btn btn-primary my-5" href="{{ path('role_groupe_new') }}">Créer un nouveau role</a>
        <div class="row">

            {% for role in role_groupes %}
                <div class="card bg-cardgame col-12 col-md-4 p-0 mx-auto">
                    <div class="card-header bg-header-card">
                        <h1>{{ role.name }}</h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item bg-transparent text-light">créer le
                                : {{ role.createdAt ? role.createdAt|date('d-m-Y') : '' }} </li>

                        </ul>
                    </div>
                    <div class="card-footer list-group-item bg-transparent text-light">
                        <a class="btn btn-primary" href="{{ path('role_groupe_edit', {'id': role.id}) }}">modifier</a>
                    </div>
                </div>

            {% else %}
                <p>aucun role pour l'instant</p>
            {% endfor %}
        </div>


    </div>
{% endblock %}
